@media only screen and (max-width: 600px){
	#container{
		
		flex-direction: column-reverse;
	}
	#container__content{
		width: 100%;
		height: 65%;
	}
	#container__img{
		flex: 0;
		width: 100%;
		min-height: 37%;
	}


	.container__content__box{
		width: 100%;
		margin: 8%;
		padding: 0;
		align-items: center;
		justify-content: center;
	}

	.container__content__title{
		font-size: 2.3em;
		text-align: center;
		margin-bottom: 0;
	}
	.container__content__text{
		margin-top: 10%;
		font-size: 0.9em;
	}

	.hidden{
	display: none;
	}

	.container__content__button{
    width: 70%;
     height: 59px;
    border: 4px solid white;
    border-radius: 25px;
	}
	.container__content__button a {
		font-size: 1.8em;
	}
}

@media only screen and (min-width: 600px) and (max-width: 992px){
.container__content__title{
	font-size: 2.4em;
}
.hidden{
	display: none;
}
}

@media only screen and (max-height: 568px){
#container{
	height: 100%;
}
}